.card {
  border: 3px solid $highlightColor;
  border-radius: 0.5rem;
  margin: 15px;
  background-color: $backgroundColor;
}
.card-header {
  background-color: $darkColor;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  border-bottom: 0;
  border-radius: 0.4rem !important;
}
.card-body {
  border-top: 1px solid $mutedColor;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}
.card-footer {
  background-color: $color;
  border-top: 1px solid $mutedColor;
}
