.fret-note {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  padding: 0 10px;
  min-width: 29.4327px;
}
.fret-note:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px inset $darkColor;
  background: $textColor;
  width: 100%;
  transform: translateY(-50%);
}
.fret {
  border-right: 4px groove $lightColor;
}
.fret-icon {
  height: 70%;
  width: 100%;
  max-width: 30px;
  margin: auto;
  padding-left: 1px;
  padding-right: 1px;
  z-index: 1;
  color: $color;
}
.fret-icon-round {
  height: 80% !important;
}
.fret-note-mark {
  border: 1px solid $darkColor;
  background: $highlightColor2;
  color: $darkColor;
  border-radius: 50%;
  box-shadow: 1px 1px 4px $darkColor;
}
.fret-note-highlight {
  border: 1px solid $darkColor;
  background: $highlightColor;
  color: $textColor;
  border-radius: 50%;
  box-shadow: 1px 1px 4px $darkColor;
}
.fret-strip-selector-option-selected {
  border: 1px solid black;
  background: $highlightColor3;
  color: $textColor;
  border-radius: 50%;
  box-shadow: 1px 1px 4px $darkColor;
}
.nut-filler {
  color: $backgroundColor;
  width: 15px;
}

.rotate {
  -webkit-transform: translateY(-100%) rotate(90deg);
  transform: translateY(-100%) rotate(90deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.rotate-button {
  padding: 4px;
  border-radius: 5px;
  min-width: 30px !important;
  height: 30px;
  width: 30px;
  background-color: $darkColor;
}
.rotate-button-selected {
  background-color: $highlightColor;
}
.rotate-button-hover {
  background-color: $highlightColor2;
}
.string-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 40px;
}
.fret-numbers {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 24px;
}
.fret-number {
  display: flex;
  position: relative;
  min-width: 29.4327px;
  padding-right: 4px;
  font: 16px "Roboto Condensed", sans-serif;
}
.nut-container {
  height: 100%;
  width: $nutWidth;
  min-width: $nutWidth;
  margin-left: -4px;
  margin-right: 0px;
  color: $backgroundColor;
}
.nut {
  height: 50%;
  min-height: 50%;
  border-right: $nutWidth solid $darkColor;
  z-index: 1;
  margin-left: -1px;
  margin-right: -1px;
}
.top-nut {
  border-radius: 6px 0px;
}
.bottom-nut {
  border-radius: 0px 6px;
}
.first-nut {
  border-radius: 6px;
}
.last-nut {
  border-radius: 6px;
}
.invis-text {
  color: $backgroundColor;
}
.note-name {
  width: 30px;
  min-width: 30px;
  text-align: left;
}
