.select-header {
  opacity: 0.7;
  font-weight: bold;
  color: $textColor;
}
.vs__selected {
  color: $textColor;
}
.vs__dropdown-toggle {
  border-color: $darkColor;
  background-color: $color;
  height: 34px;
}
.vs__dropdown-menu {
  background-color: $darkColor;
  color: $textColor;
}
.vs__dropdown-option {
  color: $lightColor;
}
.vs__dropdown-option--selected,
.vs__dropdown-option--highlight {
  color: $textColor;
}
