$backgroundColor: #333333;
$textColor: #ffffff;
$color: #252526;
$lightColor: #788585;
$mutedColor: #939faa;
$darkColor: #1f1f1f;
$highlightColor: #007acc;
$highlightColor2: #8cdcfe;
$highlightColor3: #c5702b;
$cardBorderColor: rgba(255, 255, 255, 0.09);

$nutWidth: 15px;
